@import url(https://fonts.googleapis.com/css?family=Lato:regular,700,900&display=swap);
*,*::before,*::after{margin:0;padding:0;border:0;box-sizing:border-box;}
li{list-style:none;}
a{color:inherit;text-decoration:none;}
img{vertical-align:top;}
h1,h2,h3,h4,h5,h6,input,button,textarea{font-weight:inherit;font-size:inherit;font-family:inherit;}
button{cursor:pointer;color:inherit;background-color:inherit;}
input{width:100%;}
html,body{height:100%;line-height:1;}
.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    overflow: hidden;
}
.main {
    flex: 1 1 auto;
}
body {
    font-family: 'Lato', sans-serif;
    color: #424551;
}
body.--locked {
 overflow: hidden;
}
[class*='__container'] {
    max-width: 1260px;
    margin: 0 auto;
    padding: 0px 15px;
}



.btn {
    font-weight: 700;
    letter-spacing: 0.5px;
    border-radius: 4px;
    white-space: nowrap;
    display: inline-block;
    transition: transform 0.3s;
}
.btn--orange {
    color: #FFFFFF;
    background: linear-gradient(55.95deg, #FF3F3A 0%, #F75E05 100%);
}
.btn--orange:hover {
    background: #ff7570;
}
.btn--orange:active {
    background: #ff0800;
    transform: scale(0.95);
}
.btn--transparent {
    background: linear-gradient(55.95deg, #FF3F3A 0%, #F75E05 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    border: 1px solid #FF3F3A;
}
.btn--transparent:hover {
    background: #ff7570;
    -webkit-background-clip: border-box;
    -webkit-text-fill-color: #fff;
    background-clip: border-box;
    border: 1px solid #ff7570;
}
.btn--transparent:active {
    transform: scale(0.95);
    background: #ff0800;
    -webkit-background-clip: border-box;
    -webkit-text-fill-color: #fff;
    background-clip: border-box;
    border: 1px solid #ff0800;
}
.btn--large {
    padding: 18px 40px;
}
.btn--large.bnt--transparent {
    padding: 17px 39px;
}

.titles-block {
    color: #1E212C;
}
.titles-block p {
    font-weight: 700;
    line-height: 1.5;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-bottom: 8px;
}
.titles-block h2 {
    font-weight: 900;
    font-size: 46px;
    line-height: 1.3;
    color: #1E212C;
}





.wrapper {
}



.header {
    position: fixed;
    z-index: 99999;
    top: 0;
    left: 0;
    width: 100%;
    background: linear-gradient(55.95deg, rgba(255, 63, 58, 0.5) 0%, rgba(247, 94, 5, 0.5) 100%);
}


.header__container {
    display: grid;
    grid-template-columns: 190px 1fr auto;
    grid-template-rows: 52px;
    padding-top: 20px;
    padding-bottom: 20px;
    align-items: center;
    justify-items: start;
}

.header__logo {
    max-width: 130px;
}
.header__logo a {
    display: inline-block;
}
.header__logo img {
    max-width: 100%;
}


.header__nav {
}
.nav {
}
.nav__icon {
    display: none;
}
.nav__body {
}
.nav__items {
    display: grid;
    grid-template-columns: repeat(5, auto);
    gap: 40px;
    padding-right: 30px;
}
.nav__item {
    white-space: nowrap;
    font-weight: 700;
    line-height: 1.6;
}
.nav__link {
    position: relative;
    display: inline-block;
}
.nav__link::before, .header__login::before {
    content: '';
    display: inline-block;
    position: absolute;
    bottom: -10px;
    left: 0;
    height: 3px;
    width: 0%;
    border-radius: 4px;
    background: #FF3F3A;
    transition: 0.3s;
}
.nav__link:hover::before, .header__login:hover::before {
    width: 100%;
}



.header__actions {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 36px;
    align-items: center;
}
.header__btn {
}
.header__login {
    position: relative;
    white-space: nowrap;
    padding-left: 28px;
    font-weight: 700;
    line-height: 1.6;
    background: url('../img/icons/login.svg') left center no-repeat;
}




.main {
}


.main__top {
}
.top-main {
    background: linear-gradient(55.95deg, rgba(255, 65, 59, 0.2) 0%, rgba(247, 94, 5, 0.2) 100%);
    padding: 200px 0 80px 0;
    position: relative;
}
.top-main__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    gap: 180px;
    align-items: center;
    row-gap: 189px;
    position: relative;
    z-index: 5;
}


.top-main__content {
    
}
.top-main__play {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.5;
    color: #1E212C;
    display: inline-flex;
    align-items: center;
    gap: 16px;
    margin-bottom: 40px;
}
.top-main__play::before {
    content: '';
    width: 52px;
    height: 52px;
    flex: 0 0 52px;
    border-radius: 50%;
    background: url('../img/icons/tm-triangle.svg') 55% center no-repeat, #FF3F3A;
    animation: pulsing 2s infinite linear alternate-reverse;
}
@keyframes pulsing{
    0% {
        outline: 2px solid rgb(255, 63, 58, 1);
    }
    25% {
        outline: 4px solid rgb(255, 63, 58, 0.8);
    }
    50% {
        outline: 8px solid rgb(255, 63, 58, 0.6);
    }
    75% {
        outline: 12px solid rgb(255, 63, 58, 0.4);
    }
    100% {
        outline: 16px solid rgb(255, 63, 58, 0.2);
    }
}
.top-main__title {
    font-weight: 900;
    font-size: 64px;
    line-height: 1.3;
    letter-spacing: 1px;
    color: #1E212C;
    margin-bottom: 60px;
}
.top-main__actions {
    display: grid;
    grid-template-columns: 148px 200px;
    gap: 24px;
}
.top-main__btn {
}


.top-main__image {
}
.top-main__image img {
    max-width: 100%;
    transform: translateX(47px);
}

.top-main__features {
    grid-area: 2 / 1 / 3 / 3;
}
.top-main__items {
    display: grid;
    grid-template-columns: repeat(7, auto);
    grid-template-rows: 1fr;
    justify-content: space-between;
    align-items: center;
}
.top-main__item {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(2, auto);
    gap: 12px;
}
.top-main__item span {
    display: inline-block;
    color: #1E212C;
}
.top-main__item span:nth-child(1){
    font-weight: 900;
    font-size: 46px;
    line-height: 1.3;
}
.top-main__item span:nth-child(2) {
    line-height: 160%;
    color: #1E212C;
}
.top-main__divider {
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #FF3F3A;;
}


.top-main__decor {
    position: absolute;
    z-index: 1;
    opacity: 0.3;
}
.top-main__decor--1 {
    width: 96px;
    height: 96px;
    background: url('../img/decor/arrows.svg') 0 0 / cover no-repeat;
    top: 12.314815%;
    left: 4.270833%;
}
.top-main__decor--2 {
    width: 110px;
    height: 110px;
    background: url('../img/decor/arrows.svg') 0 0 / cover no-repeat;
    top: -2%;
    right: 5.022917%;
    transform: rotate(-45deg)
}
.top-main__decor--3 {
    width: 88px;
    height: 47px;
    background: url('../img/decor/semispheres.svg') 0 0 / cover no-repeat;
    top: 47.092593%;
    left: 40.729167%;
}
.top-main__decor--4 {
    width: 61px;
    height: 61px;
    background: url('../img/decor/semisph.svg') 0 0 / cover no-repeat;
    left: 38.177083%;
    bottom: 24.166667%;
}
.top-main__decor--5 {
    width: 187px;
    height: 137px;
    background: url('../img/decor/dots.svg') 0 0 / cover no-repeat;
    bottom: 17.962963%;
    right: -1.5625%;
}
.top-main__decor--6 {
    width: 284px;
    height: 284px;
    background: url('../img/decor/circles.svg') 0 0 / cover no-repeat;
    left: -5.833333%;
    bottom: -9.259259%;
}




.main__who {
}
.who-main {
    padding: 180px 0 90px 0;
    position: relative;
}
.who-main__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    position: relative;
    z-index: 7;
}
.who-main__image {
}
.who-main__image img {
    max-width: 100%;
}
.who-main__content {
    padding-left: 135px;
}
.who-main__titles-block {
    margin-bottom: 40px;
}
.who-main__list {
    line-height: 1.6;
    margin-bottom: 48px;
}
.who-main__item {
    padding-left: 32px;
    position: relative;
}
.who-main__item::before {
    content: '';
    display: inline-block;
    width: 16px;
    height: 16px;
    background: url('../img/icons/check.svg') 0 0 no-repeat;
    position: absolute;
    top: 6px;
    left: 0;
}
.who-main__item:not(:last-child) {
    margin-bottom: 12px;
}

.who-main__decor {
    position: absolute;
    z-index: 1;
}
.who-main__decor--1 {
    height: 133px;
    width: 181px;
    background: url('../img/decor/dots-yellow.svg') 0 0 no-repeat;
    left: -4.5%;
    top: 28.915663%;
    opacity: 80%;
    transform: rotate(-52.46deg);

}
.who-main__decor--2 {
    width: 287px;
    height: 287px;
    opacity: 12%;
    background: url('../img/decor/circles-yellow.svg') 0 0 no-repeat;
    top: 53%;
    right: -7%;
}



.main__register {
}
.register-main {
    padding: 100px 0;
    background: #F4F5F7;
    position: relative;
}


.register-main__container {
    display: grid;
    grid-template: 1fr / minmax(auto, 550px) 1fr minmax(520px, 1fr);
    align-items: center;
    position: relative;
    z-index: 2;
}
.register-main__image {
    position: relative;
    padding-bottom: 91%;
    grid-area: 1 / 1 / 2 / 2;
}
.register-main__image img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.register-main__content {
    grid-area: 1 / 3 / 2 / 4;
    padding-left: 25px;
}
.register-main__titles-block {
    margin-bottom: 40px;
}
.register-main__body {
}
.register-main__form {
}
.form {
}
.form label {
    line-height: 1.6;
    margin-bottom: 8px;
    display: inline-block;
}
.form input {
    line-height: 1.6;
    padding: 13px 0 13px 16px;
    border: 1px solid #D7DADD;
    border-radius: 4px;
}
.form__line {
    margin-bottom: 24px;
}
.form__line:nth-child(3) {
    margin-bottom: 40px;
}
.form__btn {
    width: 100%;
    padding: 18px 40px;
}

.register-main__decor {
    position: absolute;
    z-index: 1;
}
.register-main__decor--1 {
    width: 88px;
    height: 47px;
    background: url('../img/decor/semispheres.svg') 0 0 no-repeat;
    top: 20.15873%; /* 127/630 */
    left: 4.695313%; /* 90.15/1920 */
    transform: rotate(-30deg);
}
.register-main__decor--2 {
    width: 258px;
    height: 258px;
    background: url('../img/decor/circles.svg') 0 0 no-repeat;
    top: -5.079365%; /* 32/630 */
    right: -6.5625%; /* 126/1920 */
    transform: rotate(-30deg);
}







@media (max-width: 1129.98px) {
    .top-main {
        padding: 150px 0 60px 0;
    }
    .top-main__container {
        column-gap: 100px;
        row-gap: 80px;
    }
    .who-main {
        padding: 90px 0 90px 0;
    }
}
@media (max-width: 1069.98px) {
    .header__container {
        grid-template-columns: 160px 1fr auto;
    }
    .header__items {
        gap: 20px;
    }
    .header__btn {
        font-size: 14px;
        padding: 15px 32px;
    }
    .header__actions {
        gap: 18px;
    }
    .top-main__container {
        justify-content: space-between;
        row-gap: 80px;
    }
    .top-main__title {
        font-size: 50px;
    }

}
@media (max-width: 990.98px) {
    .nav__items {
        grid-template-columns: repeat(3, auto);
        grid-template-rows: repeat(2, 1fr);
        row-gap: 10px;
        font-size: 14px;
    }
    .header__btn {
        font-size: 12px;
        padding: 12px 24px;
    }
    .header__login {
        font-size: 14px;
    }
    .top-main__container {
        row-gap: 40px;
    }
    .top-main__items {
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
        row-gap: 20px;
        justify-items: center;
    }
    .top-main__divider {
        display: none;
    }
    .who-main__content {
        padding-left: 70px;
    }
}
@media (max-width: 766.98px) {
    .nav__icon {
        z-index: 5;
        display: inline-block;
        position: relative;
        position: relative;
        width: 35px;
        height: 22px;
        cursor: pointer;
    }
    .nav__icon span,
    .nav__icon::before,
    .nav__icon::after {
        position: absolute;
        left: 0;
        width: 100%;
        height: 15%;
        transition: 0.3s;
        background: #ff0800;
    }
    .nav__icon::before,
    .nav__icon::after {
        content: '';
    }
    .nav__icon::before {
        top: 0;
    }
    .nav__icon::after {
        bottom: 0;
    }
    .nav__icon span {
        top: 50%;
        transform: scale(1) translate(0, -50%);
    }
    .nav__icon--active {
    }
    .nav__icon--active span{
        transform: scale(0) translate(0, -50%);
    }
    .nav__icon--active::before {
        top: 46%;
        transform: rotate(-45deg) translate(0, -50%);
    }
    .nav__icon--active::after {
        bottom: 50%;
        transform: rotate(45deg) translate(0, 50%);
    }
    .nav__body {
        position: fixed;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100%;
        background: white;
        padding: 100px 30px 30px 30px;
        transition: left 0.3s ease 0s;
        overflow: auto;
    }
    .nav__body--active {
        left: 0%;
    }
    .nav__items {
        grid-template-columns: auto;
        grid-template-rows: repeat(2, 1fr);
        justify-content: center;
        justify-items: center;
        padding-right: 0;
        row-gap: 40px;
        font-size: 24px;
    }
    .header__actions {
        display: none;
    }
    .header__nav {
        justify-self: end;
    }
    .top-main {
        padding: 100px 0 40px 0;
    }
    .top-main__container {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, auto);
        justify-content: center;
        column-gap: 0;
        row-gap: 60px;
    }
    .top-main__image {
        grid-area: 1 / 1 / 2 / 2;
        text-align: center;
    }
    .top-main__image img {
        transform: translateX(0);
    }
    .top-main__content {
        grid-area: 2 / 1 / 3 / 2;
        text-align: center;
    }
    .top-main__play {
    }
    .top-main__title {
        font-size: 35px;
    }
    .top-main__actions {
        grid-template-columns: 1fr;
        justify-items: center;
    }
    .top-main__btn {
        text-align: center;
        min-width: 100%;
        font-size: 20px;
    }
    .top-main__features {
        grid-area: 3 / 1 / 4 / 2;
    }
    .top-main__items {
        grid-template-columns: 1fr;
    }
    .top-main__divider {
        display: inline-block;
    }
    .who-main__container {
        grid-template-columns: 1fr;
        justify-items: center;
        row-gap: 30px;
    }
    .who-main__btn {
        text-align: center;
        font-size: 20px;
        width: 100%;
    }
    .who-main {
        padding: 90px 0 45px 0;
    }
    .who-main__content {
        padding-left: 0;
    }
    .register-main {
        padding: 50px 0;
    }
    .register-main__container {
        display: block;
    }
    .register-main__content {
        padding-left: 0;
    }
    .register-main__image {
        margin-bottom: 30px;
    }
    .form__btn {
        font-size: 20px;
    }
}



